<%= content_for(:title) { 'Minimal Rails' } %>
<p>
  Minimal Rails is my own personal example of how simple a minimal
  <a href="https://rubyonrails.org/">Ruby on Rails</a> (or Rails) app
  can be and still score 100 on 
  <a href="https://developers.google.com/web/tools/lighthouse">Lighthouse</a>.
</p>
