<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <meta name="description" content="Smallest possible Rails app w/ great scores on lighthouse." />
    <%= render '/partials/simple' %>
    <title><%= yield :title %></title>
  </head>
  <body>
    <header>
      <h1><%= yield :title %></h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>
        &copy; 2021 - Copy Right.
        <span class="small">Because every site needs a copy, right?</span>
      </p>
    </footer>
  </body>
</html>
